.primary_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  padding: 15px;
  background: #1f1f1f;
  color: white;
  width: 100%;
  font-size: larger;
  border-radius: 5px;
  cursor: pointer;
  
}

.secondary_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 2px solid black;
  padding: 13px;
  background: #ffffff;
  width: 100%;
  font-size: larger;
  border-radius: 5px;
  cursor: pointer;
  
}